{% extends 'base.html' %}
{% block content %}
    <h2>Riwayat Pendidikan & Organisasi</h2>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr><th>Tahun</th><th>Keterangan</th></tr>
        </thead>
        <tbody>
            <tr><td>2012 - 2018</td><td>SDN Menteng Atas 14</td></tr>
            <tr><td>2018 - 2021</td><td>SMPN 57 Jakarta</td></tr>
            <tr><td>2021 - 2025</td><td>Pesantren Modern Ummul Quro Al-Islami</td></tr>
            <tr><td>2025 - Sekarang</td><td>STT Terpadu Nurul Fikri</td></tr>
            <tr><td>2021</td><td>Predikat Mumtaz</td></tr>
            <tr><td>2023</td><td>Wisudawan Tahfidz 5 Juz</td></tr>
            <tr><td>2024 - 2025</td><td>Menjadi Wakil Ketua Bagian Bahasa di Pesantren</td></tr>
            <tr><td>2024 - 2025</td><td>Menjadi Bendahara dalam program Santripreneur</td></tr>
            <tr><td>2025</td><td>Project Officer NF Mengaji</td></tr>
        </tbody>
    </table>
{% endblock %}