{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2>Gallery Kegiatan</h2>
    <div class="row">
        <div class="col-md-4"><img src="{% static 'img/ji4.jpg' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/ji14.jpg' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/gym2.jpg' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/aksipalestina4.jpg' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/kotabelanda26.jpg' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/wisudatahfidzNF6.JPG' %}" class="img-fluid rounded"></div>
        <div class="col-md-4"><img src="{% static 'img/DSC_7497.JPG' %}" class="img-fluid rounded"></div>
    </div>
{% endblock %}